.avatar {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: var(--border-width) solid var(--c-border);
    border-radius: var(--radius-pill);
    object-fit: cover;
}

.avatar--lg {
    width: 4rem;
    height: 4rem;
}
